/**
 * Colors
 */
// Main
$color-text: #212121;         // light black
$color-greyscale1: #eee;      // very light grey
$color-greyscale2: #ccc;      // light grey
$color-greyscale3: #293133;   // Anthracite grey
$color-primary: #008500;      // green
$color-secondary: #009;       // blue (logo)
$color-tertiary: #e43e94;     // magenta (logo)

// Link colors (via LINKS.css)
$color-link: #265C83;         // blue
$color-link-hover: #7FDBFF;   // lighter
$color-link-active: #007BE6;  // darker

// For forms
$color-info: #2980b9;         // blue
$color-success: #27ae60;      // yellow
$color-warning: #f39c12;      // green
$color-error: #c0392b;        // red